<div class="flex flex-col">
  <% @events.each do |event| %>
    <section class="w-lg flex flex-row items-center justify-between mb-4 p-4 border-b-1 border-b-gray-300">
      <div>
        <h2 class="font-semibold text-2xl text-blue-500 cursor-pointer hover:text-blue-400 hover:underline">
          <%= link_to event.name, event %>
        </h2>
        <h3 class="text-gray-500">
          <em><%= day_and_time(event) %> in <%= event.location %></em>
        </h3>
        <p class="mt-4">
          <%= truncate(event.description, { length: 35, separator: ' '}) %>
        </p>
      </div>
      <span class="rounded-sm bg-amber-400 px-2 py-1 text-small font-semibold text-white shadow-xs">
        <%= price(event) %>
      </span>
    </section>
  <% end %>
  <section>
    <%= link_to "Create New Event", new_event_path, class: "rounded-md bg-blue-400 px-3 py-2 text-small font-semibold text-white shadow-xs" %>
  </section>
</div>